.dfdrTable {
  max-width: 80%;
  max-height: 400px;
  overflow: auto;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
}

th,
td {
  padding: 0.2rem;
}

th {
  position: sticky;
  top: 0;
  background-color: lightskyblue;
}

.highlight {
  background-color: rgba(135, 206, 250, 0.5);
}
