@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed');

$background-color: #1f2a44;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: Barlow Semi Condensed, sans-serif;
}

label {
  margin-top: 1rem;
}

.flex {
  display: flex;
  align-items: center;
}

.select {
  min-width: 150px;
}

.button {
  width: 2rem;
  cursor: pointer;
  color: grey;
}

.remove:hover {
  color: red;
}

.add {
  margin-left: 1rem;

  &:hover {
    color: green;
  }
}

.title {
  background: $background-color;
  color: white;
  padding: 1rem;

  font-style: normal;
}

.form {
  padding: 1rem;
  font-size: large;
  text-align: left;

  .checkbox {
    margin-right: 0.5rem;
  }
}

.warning {
  font-style: italic;
  font-size: smaller;
  color: #555;
  width: 24rem;
  margin: 1rem 0rem;
}

.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
  text-align: left;

  input {
    min-width: 20rem;
    margin: 0;
    opacity: 0;
  }
}

.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 0.075rem solid #ddd;
  border-radius: 0.25rem;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .filename {
    display: inline-block;
    max-width: 12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .browse {
    position: absolute;
    top: -0.075rem;
    right: -0.075rem;
    bottom: -0.075rem;
    display: block;
    content: 'Browse';
    height: 2.5rem;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    color: #555;
    background: #eee;
    border: 0.075rem solid #ddd;
    border-radius: 0 0.25rem 0.25rem 0;
  }

  .browse:hover {
    background-color: darken(#eee, 4);
  }
}

.columns {
  margin-top: 1rem;
}
