* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  padding: 1rem;
}

.flex {
  display: flex;
  align-items: center;
}

.select {
  min-width: 150px;
}

.button {
  width: 2rem;
  cursor: pointer;
  color: grey;
}

.remove:hover {
  color: red;
}

.add:hover {
  color: green;
}
